<h1>Welcome to Braidy's Twitter clone!</h1>

  <% if current_user %>
    <p>conditional is working, because you have to be logged in to see this</p>
  <% else %>
    <p> You must be logged in to see this page.</p>
  <% end %>
