<h1>Welcome to Braidy's Twitter clone!</h1>

  <%= link_to "Add Friend" %> 

  <% if current_user %>
    <%= link_to "Send out a Tweet", new_tweet_path %>

   <br>
    <% @tweets.each do |tweet| %>
      <%= tweet.body %>
      <br>
      <%= tweet.user_id %>
    <% end %>
  <% else %>
    <p> You must be logged in to see this page.</p>
  <% end %>
